{% from 'macros/cards/frontmatter-card.njk' import frontMatterCard with context %}

{% extends "layouts/base.njk" %}

{% block title_bar %}
  {% include 'partials/breadcrumbs-author.njk' %}
{% endblock %}

{% block content %}
  <div class="measure-1280 width-full center-margin pad-left-400 pad-right-400">
    <div class="blog-grid">
      {% for fm in paged.pagination.items %}
        {{ frontMatterCard(fm) }}
      {% endfor %}
    </div>
    {% include 'partials/pagination.njk' %}
  </div>
{% endblock %}
