{% extends "layouts/base.njk" %}

{% from 'macros/cards/frontmatter-card.njk' import fronmatterCard with context %}

{% block title_bar %}
  {% include 'partials/breadcrumbs.njk' %}
{% endblock %}

{% block content %}
  <div class="measure-1280 width-full center-margin pad-left-400 pad-right-400">
    <div class="blog-grid">
      {% for fm in paged.elements %}
        {{ fronmatterCard(fm) }}
      {% endfor %}
    </div>
    {# {% include 'partials/pagination.njk' %} #}
  </div>
{% endblock %}
